<h2 id="title">Ember-Drag-Drop-Multiple Add-on Examples</h2>
<h4> for the Ember addon <a href="https://github.com/BellGasp/ember-drag-drop-multiple">https://github.com/BellGasp/ember-drag-drop-multiple</a></h4>

<h3>Example Links</h3>
<ul>
  <li>{{#link-to 'drag-multiple'}}Drag Multiple Items{{/link-to}}</li>
  <li>{{#link-to 'drag-image'}}Change Item Image when dragging{{/link-to}}</li>
</ul>
<br><br>
{{outlet}}
